/*.navbar .navbar-nav .navlink {
   color: #ffff;
    
}*/

body, footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 226, 55, 0.936)), to(#f6f6bd)) fixed;
}

#box {
    border-radius: 10px;
    margin: 10% auto;
    width: 50rem;
    height: 50rem;
    visibility: hidden;
    background: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem 2rem black;
    cursor: pointer;
}

.panel{
    border: 1px solid black;
    width: 40rem;
    height: 40rem;
}

body,#line {
    height:100%
}
.color-us {
  stroke:blue
}
.color-bug {
  stroke:red
}

#myChart{
    margin-top: 20%;
}

#temp {
    color: red;
    font-weight: bold;
}

#weight{
    color: blue;
    font-weight: bold;
}

#humidity{
    color: green;
    font-weight: bold;
}

i{
    margin-right: 0.5rem;
}

/*Footer*/
h4 {
    writing-mode: vertical-lr;
    font-size: 70px;
    transform: rotate(180deg);
    margin-left: 5rem;
}

hr {
    background-color: gray;
    height: 2px;
    width: 50%;
    margin-left: 0rem;
}

footer container-fluid {
    width: 94%;
}

p {
    font-size: 12px;
}