/*.navbar .navbar-nav .navlink {
   color: #ffff;
    
}*/

body, footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 226, 55, 0.936)), to(#f6f6bd)) fixed;
}

#box {
    border-radius: 10px;
    margin: 10% auto;
    width: 60rem;
    height: 50rem;
    visibility: hidden;
    background: white;
    padding: 2rem;
    box-shadow: 1rem 1rem 2rem black;
    cursor: pointer;
    background: lightgray;
}

.panel{
    border: 1px solid black;
    width: 40rem;
    height: 40rem;
}

body,#line {
    height:100%
}
.color-us {
  stroke:blue
}
.color-bug {
  stroke:red
}

#myChart{
    margin-top: 20%;
}

i{
    margin-right: 0.5rem;
}

/*Footer*/
h4 {
    writing-mode: vertical-lr;
    font-size: 70px;
    transform: rotate(180deg);
    margin-left: 5rem;
}

hr {
    background-color: gray;
    height: 2px;
    width: 50%;
    margin-left: 0rem;
}

footer container-fluid {
    width: 94%;
}

p {
    font-size: 12px;
}

.devicelist{
    height: 40rem;
    overflow: scroll;
}

.h6style{
    width: 130px;
    margin-top: 10px;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom-style:double;
}

.device{
    margin-top: 5px;  
}

.deviceBtn{
    width: 160px;
}

#searchDevice{
    width: 120px;
    height: 40px;
    padding: 5px;
}

#colorPalette{
    text-align: center;
    padding: 20px;
}

.date{
    width: 120px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

.dateSpan{
    padding: 3px;
    width: 100px;
    background: black;
    color: wheat;
    border-radius: 2px;
    cursor: alias;
}
