/*.navbar .navbar-nav .navlink {
   color: #ffff;
    
}*/

body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 226, 55, 0.936)), to(#f6f6bd)) fixed;
}

#box {
    border-radius: 10px;
    margin: 10% auto;
    width: 100rem;
    height: 60rem;
    visibility: hidden;
    background: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem 2rem black;
    cursor: pointer;
}

.panel{
    border: 1px solid black;
    width: 80rem;
    height: 40rem;
}

body,#line {
    height:100%
}
.color-us {
  stroke:blue
}
.color-bug {
  stroke:red
}

#myChart{
    margin-top: 20%;
}